.preto{
    color: rgb(15, 20, 25);
}	
.cinza {
    color:rgb(83, 100, 113);
}
.tzeet:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.linhazinha {
    max-width: auto;
}



/* Navegação */
.navegacao a{
    display: flex;
    color: rgb(15,20,25);
    line-height: 45px;
}
.navegacao a:hover {
    background-color: rgba(15,25,20,0.1);
    text-decoration: none;
    border-radius: 30px;
    max-width: 70%;
    color: rgb(15,20,25);
}

/* Estatisticas */
.estatisticas a {
    color: rgb(15, 20, 25);
    font-weight: bold;
    text-decoration: none;
}
.estatisticas span {
    color: rgb(83, 100, 113)
}
.estatisticas a:hover {
    text-decoration: underline;
}
.place a {
    color:rgb(83, 100, 113);
    text-decoration: none;
}
.place a:hover {
    color:rgb(83, 100, 113);
    text-decoration: none;
}

/* Publicacoes */
.publicacoes a{
    color: rgb(15,20,25);
    text-align:center
}
.publicacoes a:hover {
    background-color: rgba(15,25,20,0.1);
    text-decoration: none;
    border-radius: 30px;
    color: rgb(83, 100, 113);
}
.align {
    text-align:center;
    background-position: center;
    background: 10%;
}

/* Acoes */
.tzeet a {
    color: rgb(83, 100, 113);
}
#replyShare:hover {
    background-color: rgba(29,155,240,0.1);
    color: rgba(29, 155, 240, 1);
    border-radius: 25px;
    text-decoration: none;
}
#retzeet:hover {
    background-color: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
    border-radius: 25px;
    text-decoration: none;
}
#like:hover {
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
    border-radius: 25px;
    text-decoration: none;
}
.curvo {
    border-radius: 25px;
}

/* Esquerda */
.esquerda {
    width: 30rem;
    height: 100vh;
    padding: 20px;
    font-size: 1.2rem;
}

/* Direita */
.background {
    background-color:  rgb(239, 243, 244);
}
.button button{
    background-color: rgb(0, 68, 255);
    color: white
}
.direita {
    width: 30rem;
    height: 100vh;
    padding: 20px;
    font-size: 1.2rem;
}

.container {
    max-width: none;
}


@media (max-width: 768px) {
    .direita {
        display: none;
    }

    .esquerda div span {
        display: none;
    }
}

